# =======================================
# Build and outputs directories
# =======================================
build/
cmake-build-*/
out/

# =======================================
# IDE configuration folders and files
# =======================================
.vscode/
.idea/
*.swp
*.swo
*~

# =======================================
# Executable and temporary object files
# =======================================
*.o
*.obj
*.exe
*.out
*.app

# =======================================
# System files and dumps
# =======================================
.DS_Store
Thumbs.db
